<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- QC server location to access the QC website-->
    <add key="QCserverURL" value="http://172.20.20.30:8080/qcbin"/>
    <!-- QC domain name -->
    <add key="QCdomainName" value="LOMBARDRISK"/>
    <!-- the name of the project for which you want to retrive the test case execution report-->
    <add key="QCprojectName" value="ComplianceProduct"/>
    <!-- user name through which you have to login in to QC-->
    <add key="username" value="Kun.Shen"/>
    <!-- Password to login in to QC-->
    <add key="userpassword" value=""/>
    <!-- release full paths under QC->Management. multiple location shoudl be seperated by semicolon(;)-->
    <add key="QCReleaseFullPaths" value="Releases\EBA\Release24.1;Releases\EBA\Release24.2;Releases\FCA\1.0.0;Releases\CN\v4.11.0;Releases\MAS\2.21.0;"/>
    <!-- Folder names provided in to QC from which you want to generate report. multiple location shoudl be seperated by semicolon(;)-->
    <add key="QCTSTestFullPaths" value="Root\MAS\v2.21.0;Root\CN\v4.11.0;"/>
    
    <!--draw rectangle chart for all instances of test case in special folder location, and save the picture in local path-->
    <add key="RectangleChartForTSTest_Path" value="Root\MAS\v2.21.0\Cycle2"/>
    <add key="RectangleChartForTSTest_SavedLocation" value="D:\Item Status.png"/>
    <!--draw rectangle chart for all requirements(items) in special product and release, and save the picture in local path-->
    <add key="RectangleChartForItem_Product" value="MAS"/>
    <add key="RectangleChartForItem_Release" value="2.21.0"/>
    <add key="RectangleChartForItem_SavedLocation" value="D:\Items.png"/>

  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
