<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QCTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- QC server location to access the QC website-->
    <add key="QCserverURL" value="http://denamssvqcent.sds.sybrondental.com:8080/qcbin"/>
    <!-- QC domain name -->
    <add key="QCdomainName" value="ENVISTAQC"/>
    <!-- the name of the project for which you want to retrive the test case execution report-->
    <add key="QCprojectName" value="Dallas"/>
    <!-- user name through which you have to login in to QC-->
    <add key="username" value="1630421"/>
    <!-- Password to login in to QC-->
    <add key="userpassword" value="$appy%1005"/>
    <!-- Export Test Case ExportPath-->
    <add key="QC_TestCase_ExportPath" value="C:\Users\1630421\OneDrive - Envista\_MyPCFiles\Desktop\ALM_EXCEL\Dallas 1\Test 1"/>
    <!-- Export Test Case Excel File-->
    <add key="QC_TestCase_Excel" value="Test_Cases.xlsx"/>
    <!-- Export Test Case Excel Sheet Name-->
    <add key="QC_TestCase_Sheet" value="Query1"/>
    
    <!-- Folder Path provided in to QC Test Set-->
    <add key="QC_TestSet_Path" value="Root\Dallas\2024-05-28_PI24.2.S4"/>
    <!-- Export Test Set Path-->
    <add key="QC_TestSet_ExportPath" value="C:\Users\1630421\OneDrive - Envista\_MyPCFiles\Desktop\ALM_EXCEL\Dallas 1\Test 1\"/>
    
    <!-- release full paths under QC->Management. multiple location shoudl be seperated by semicolon(;)-->
    <add key="QCReleaseFullPaths" value="Releases\EBA\Release24.1;Releases\EBA\Release24.2;Releases\FCA\1.0.0;Releases\CN\v4.11.0;Releases\MAS\2.21.0;"/>
    
    
    <!--draw rectangle chart for all instances of test case in special folder location, and save the picture in local path-->
    <add key="RectangleChartForTSTest_Path" value="Root\MAS\v2.21.0\Cycle2"/>
    <add key="RectangleChartForTSTest_SavedLocation" value="D:\Item Status.png"/>
    <!--draw rectangle chart for all requirements(items) in special product and release, and save the picture in local path-->
    <add key="RectangleChartForItem_Product" value="MAS"/>
    <add key="RectangleChartForItem_Release" value="2.21.0"/>
    <add key="RectangleChartForItem_SavedLocation" value="D:\Items.png"/>

  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <userSettings>
    <QCTest.Properties.Settings>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QCServerURL" serializeAs="String">
        <value />
      </setting>
      <setting name="QCDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="QCUser" serializeAs="String">
        <value />
      </setting>
      <setting name="QCPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="QCProject" serializeAs="String">
        <value />
      </setting>
    </QCTest.Properties.Settings>
  </userSettings>
</configuration>
